/* Container for dropdown */
.dropdown {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box; /* Ekleyin */
}

/* Styles for select element */
.dropdown select {
  width: 95vw; /* Küçük ekranlarda ekran genişliğinin %95'i */
  max-width: 420px; /* Büyük ekranlarda maksimum genişlik */
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background-color: #2a122c;
  color: #F9ED69;
  font-weight: bolder;
  box-sizing: border-box; /* Ekleyin */
}

/* Daha küçük ekranlar için
@media (max-width: 320px) {
  .dropdown select {
    width: 100vw;
  }
} */
